---
- name: Deploy bare-metal MinIO cluster
  hosts: "{{ target_cluster | default('demo-k8s') }}_all"
  gather_facts: true
  become: true

  vars_files:
    - "../../{{ config_file | default('vars/baremetal_config.yml') }}"

  pre_tasks:
    - name: Validate deployment type
      ansible.builtin.fail:
        msg: "This playbook is for bare-metal deployment. Current deployment.type is {{ deployment.type }}"
      when: deployment.type != "baremetal"

  roles:
    - role: minio_baremetal

- name: Verify MinIO cluster
  hosts: "{{ target_cluster | default('demo-k8s') }}_all[0]"
  gather_facts: false
  become: true

  vars_files:
    - "../../{{ config_file | default('vars/baremetal_config.yml') }}"

  tasks:
    - name: Include role defaults for verification
      ansible.builtin.include_vars:
        file: "{{ playbook_dir }}/../../roles/minio_baremetal/defaults/main.yml"

    - name: Verify MinIO cluster
      ansible.builtin.include_tasks: "{{ playbook_dir }}/../../roles/minio_baremetal/tasks/verify.yml"
